.SleepMachine {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ProgressMeter rect {
  fill: transparent;
}

.ProgressMeter rect.on {
  fill: var(--color-1);
}

@media screen and (orientation:portrait) {
  .SleepMachine { flex-direction: column; }
  .Controls-container {
    height: 30%;
    width: 100%;
  }
  .MarkovChart-container {
    height: 70%;
    width: 100%;
  }
}
@media screen and (orientation:landscape) {
  .SleepMachine { flex-direction: row; }
  .Controls-container {
    height: 100%;
    width: 30%;
  }
  .MarkovChart-container {
    height: 100%;
    width: 70%;
  }
}

.ProgressMeter-container {
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
}

.Controls-container {
  padding: 2rem;
  box-sizing: border-box;
}

.Controls .form-col {
  display: flex;
  flex-direction: column;
}

.Controls fieldset {
  border: 0;
  padding: 0;
}

.Controls .form-row {
  display: flex;
  flex-direction: row;;
  margin-bottom: 1rem;
}

.RadioButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.RadioButton {
  display: flex;
  cursor: pointer;
}

.RadioButton .waveform-icon {
  width: 2rem;
}

.RadioButtons svg {
  fill: var(--text-color);
}
