.SleepMachine {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ProgressMeter rect {
  fill: transparent;
}

.ProgressMeter rect.on {
  fill: var(--color-1);
}

@media screen and (orientation:portrait) {
  .SleepMachine { flex-direction: column; }
  .Controls-container {
    height: 30%;
    width: 100%;
  }
  .MarkovChart-container {
    height: 70%;
    width: 100%;
  }
}
@media screen and (orientation:landscape) {
  .SleepMachine { flex-direction: row; }
  .Controls-container {
    height: 100%;
    width: 30%;
  }
  .MarkovChart-container {
    height: 100%;
    width: 70%;
  }
}
