.vertex {
  cursor: pointer;
}

.vertex.selected1 {
  fill: var(--current-vertex-color);
}

.vertex.selected2 {
  fill: var(--next-vertex-color);
}

.edge {
  stroke-width: 0.25;
  stroke-dasharray: 0.1 1;
}

.edge.selected {
  fill: var(--selected-edge-color);
  stroke: var(--selected-edge-color);
  stroke-dasharray: 0;
}

.edge-arrow.selected {
  fill: var(--selected-edge-color);
}

.vertex.click-target {
  fill: transparent;
}

.MarkovChart-container {
  position: relative;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.MarkovChart {
  position: absolute;
  top: 4rem;
  right: 4rem;
  bottom: 4rem;
  left: 4rem;
}

.MarkovChart .WeightedGraph {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.WeightedGraph svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: var(--text-color);
}

.weight-box {
  fill: var(--bg-color);
}

.weight-label {
  fill: var(--text-color);
}

.edge, .progress {
  stroke: var(--text-color);
}

.WeightedGraph.selected .vertex.click-target {
  stroke: transparent;
  fill: transparent;
}

.WeightedGraph.selected .vertex:not(.click-target) {
  stroke:var(--selected-vertex-color);
  fill: none;
}

.WeightedGraph.fade {
  opacity: 0.3;
}
