.vertex {
  cursor: pointer;
}

.vertex.selected1 {
  fill: var(--current-vertex-color);
}

.vertex.selected2 {
  fill: var(--next-vertex-color);
}

.edge {
  stroke-width: 0.25;
  stroke-dasharray: 0.1 1;
}

.edge.selected {
  fill: var(--selected-edge-color);
  stroke: var(--selected-edge-color);
  stroke-dasharray: 0;
}

.edge-arrow.selected {
  fill: var(--selected-edge-color);
}

.vertex.click-target {
  fill: transparent;
}

.WeightedGraph svg {
  display: block;
  height: 100%;
  width: 100%;
  fill: var(--text-color);
}

.WeightedGraph .label {
  cursor: pointer;
}

.weight-box {
  fill: var(--bg-color);
}

.weight-label {
  fill: var(--text-color);
}

.edge, .progress {
  stroke: var(--text-color);
}

.WeightedGraph.selected .vertex.click-target {
  stroke: transparent;
  fill: transparent;
}

.WeightedGraph.selected .vertex:not(.click-target) {
  stroke:var(--selected-vertex-color);
  fill: none;
}

.WeightedGraph.fade {
  opacity: 0.3;
}
