:root {
  --bg-color: #211a1e;
  --white: #eff6e0;
  --color-1: #daa520;
  --color-2: #ca8f0f;
  --color-3: #5dbb69;
  --color-4: #c3423f;
  --text-color: var(--white);
  --current-vertex-color: var(--color-4);
  --next-vertex-color: var(--color-3);
  --selected-vertex-color: var(--color-1);
  --selected-edge-color: var(--color-1);
}

html body {
  background: var(--bg-color);
  color: var(--text-color);
}
